.heading{
   background-image: url('wallpaper2.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height:50%;
}

#logo{
    background-color: white;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:white;
    display:flex;
    justify-content:center;
}

#logo>span{
  padding:45px 0px;
  color:black;
  font-size:4vw;
 }

.myDark{
    background-color: black;
}

.image_con{
  display:inline-block;
  margin:3px 3px 3px 3px;
}

.text{
  font-size:5vw;
  font-weight:bold;
  color:whitesmoke;
  text-shadow:2px 2px 2px yellowgreen;
}

 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  } 

.tilecontainer{
  margin:0;
  border-radius:5px;
  -webkit-box-shadow: 0 0 5px 2px grey;
  -moz-box-shadow: 0 0 5px 2px grey;
  box-shadow: 0 0 5px 2px grey;
}

.tilecontainer:hover, .tilecontainer:active{
  background-color:papayawhip;
}

.txt1{
  font-size:28px; 
  color:darkblue; 
  font-weight: bold;
}

.txt2{
  font-size:21px; 
  color:darkgrey; 
  font-weight: bold;
}

.footer {
  background-color:#333;
  color: white;
  text-align: center;
}