.heading{
   background-image: url('wallpaper1.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height:50%;
}

#heading{
    font-size:3vw;
    font-weight:bold;
    position:center;
}

#logo{
    background-color: white;
    height:25%;
    width:8.5%;
    border-radius:50%;
}

.myDark{
    background-color: black;
    color:white;
}

.image_con{
  display:inline-block;
  margin:3px 3px 3px 3px;
}

#logo{
  height:150px;
  width:150px;
  border:50%;
  background-color:white;
  display:flex;
  justify-content:center;
}

#logo>span{
 padding:45px 0px;
}

 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 

.tilecontainer{
  border:2px solid black;
  margin:0;
  border-radius:5px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}